@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.panelContainer {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel{
    position: relative;
    height: 80vh;
    flex: 0.5;
    border-radius: 50px;
    margin: 10px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: flex .5s ease;
}

.panel.active {
    flex: 5;
}

.panel h3 {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 40px;
    font-size: 26px;
    opacity: 0;
    text-transform: capitalize;
}

.panel.active h3{
    opacity: 1;
    transition: opacity .6s ease .3s;
}